<div class="border-form-div">
  <div class="col-xs-5">
    <h2>Sign up</h2>
      <br />
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <%= f.text_field :name, autofocus: :true, class: 'form-control', placeholder: 'Username' %>
        <br />
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email address' %>
        <br />
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
        <br />
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password confirmation '  %>  
        <br />
        <%= f.submit "Sign up", class: 'btn btn-primary' %>   
      <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>  