<div class="jumbotron">
  <% if user_signed_in? %>
    <h1>Welcome back</h1>
    <p class="lead">
      Create and share Markdown Wikis
    </p>
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'btn btn-large btn-danger' %>
    <%= link_to "Wikis", wikis_path, :class => 'btn btn-large btn-success' %>
  <% else %>
    <h1>Welcome</h1>
    <p class="lead">
      <h2>Create and share Markdown Wikis</h2>
    </p>
    <div class="row-fluid">
      <div class="span6">
        <%= link_to "Sign In", new_user_session_path, :class => "btn btn-success" %>
        <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success" %>
        <%= link_to "Wikis", wikis_path, :class => 'btn btn-large btn-primary' %>
      </div>
    </div>
  <% end %>
</div>