<h1><%= @wiki.title %></h1>

  <div class="form-group">
    <%= form_for @wiki do |f| %>
      <% f.label :title -%>
      <%= f.text_area :title, rows: 1, class: 'form-control', placeholder: "Enter wiki title" %>
      <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
      <%# if policy(@wiki).destroy? %>
      <% if @user.role == "premium" && policy(@wiki).destroy? %>
      <%= f.label "Private" %> <br />
      <%= f.check_box :private, {}, true, false %>
      <% end %>
    <br />
    <%= f.submit "Save", class: 'btn btn-success' %>
    <%= link_to "Back", wikis_path, class: 'btn btn-primary' %>
    <% if @wiki.private? && policy(@wiki).destroy? %>
    <%= link_to "Add Collaborators", new_wiki_collaborator_path(@wiki), class: 'btn btn-primary' %>
    <% end %>
  <% end %>
  </div>
   
