<h1><%= @wiki.title %></h1>
  <div class="form-group left">
    <%= form_for(@wiki) do |f| %>
      <%= f.text_field :title, rows: 1, class: 'form-control', placeholder: "Enter wiki title" %>
      <br />
      <%= f.bootsy_area :body, rows: 12, class: 'form-control', placeholder: "Enter wiki body" %>
      <%# if policy(@wiki).destroy? %>
      <% if @user.role == "premium" && policy(@wiki).destroy? %>
      <br />
      <%= f.label "Private" %> <%= f.check_box :private, {}, true, false %>
      <br />
      <% end %>
      <br />
      <%= f.submit "Save", class: 'btn btn-success' %>
      <%= link_to "Back", wikis_path, class: 'btn btn-primary' %>
      <% if @wiki.private? && policy(@wiki).destroy? %>
      <%= link_to "Add Collaborators", new_wiki_collaborator_path(@wiki), class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>

