<div>

<h3>My wikis</h3>
<table class="table">
  <tbody>
    <% @wikis.each do |wiki| %> 
      <tr>
        <td><%= link_to wiki.title, wiki %></td>
        <td>edit</td> 
        <td>delete</td>
        <td>export</td>
      </tr>
    <% end %>
  </tbody>
</table> 
</div>
  <div>
    <h3>Create a new wiki</h3>
      <%= form_for @wiki, url: wikis_path(@wiki) do |f| %>
      <%= f.label :title %>: <%= f.text_field :title, autofocus: true %>
      <%= f.label :body %>: <%= f.text_field :body %>
      <%= f.submit "Button Title", class: 'btn btn-success' %>
      <% end %>
  </div>
