<div class="container">
  <% if @user.present? %> 
    <div>
      <h3><%= current_user.name %>'s wikis</h3>
        <table class="table">
          <tbody>
            <% @private_wikis.each do |wiki| %> 
              <% if policy(wiki).edit? %>
                <tr>
                  <td><%= link_to wiki.title, wiki %></td>
                  <td><%= link_to "edit", edit_wiki_path(wiki) %></td> 
                  <td><%= link_to "delete", wiki, method: :delete %></td>
                  <td>
                    <% if wiki.private? %>
                      <p>Private</p>
                    <% else %>
                      <p>Public</p>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
              <% @wikis.each do |wiki| %> 
                <tr>
                  <td><%= link_to wiki.title, wiki %></td>
                  <td><%= link_to "edit", edit_wiki_path(wiki) %></td> 
                  <td><%= link_to "delete", wiki, method: :delete %></td>
                  <td>
                    <% if wiki.private? %>
                      <p>Private</p>
                    <% else %>
                      <p>Public</p>
                    <% end %>
                  </td>
                </tr>
              <% end %>
          </tbody>
        </table> 
      <%= will_paginate @wikis %>
    </div>
    <%= link_to "New wiki", new_wiki_path, class: 'btn btn-primary' %>
  <% end %>

  <% unless @user.present? %>
    <div>
      <h3>Public wikis</h3>
        <table class="table">
          <tbody>
            <% @wikis.each do |wiki| %> 
              <tr>
                <td><%= link_to wiki.title, wiki %></td>
                <td>
                  <% if policy(wiki).update? %>
                  <%= link_to "edit", edit_wiki_path(wiki) %>
                  <% end %>
                </td> 
                <td>
                  <% if policy(wiki).destroy? %>
                  <%= link_to "delete", wiki, method: :delete %>
                  <% end %>
                </td>
                <td>
                  <% if wiki.private? %>
                    <p>Private</p>
                  <% else %>
                    <p>Public</p>
                  <% end %> 
                </td>
              </tr>
            <% end %>
          </tbody>
        </table> 
      <%= will_paginate @wikis %>
    </div>
  <% end %>
</div>  
