  <div class="form-group">
    <h3>Create a new wiki</h3>
      <%= form_for @wiki, url: wikis_path(@wiki) do |f| %>
      <%= f.text_area :title, rows: 1, class: 'form-control', placeholder: "Enter wiki title" %>
      <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
      <%= f.label "Private" %> <br />
      <%= f.check_box :private, {}, true, false %> <br />
    <br />
      
      <%= f.submit "Save", class: 'btn btn-success' %>
      <% end %>
  </div>

   