<h3>Create a new wiki</h3>
  <div id="epiceditor" class="form-group left">
    <%= form_for @wiki, url: wikis_path(@wiki) do |f| %>
    <%= f.text_area :title, rows: 1, class: 'form-control', placeholder: "Enter wiki title" %>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
    <% if @user.role == "premium" %>
      <%= f.label "Private" %> <br />
      <%= f.check_box :private, {}, true, false %> <br />
    <% end %>
     <br />
      <%= f.submit "Save", class: 'btn btn-success' %>
      <%= link_to "Back", :back, class: "btn btn-primary" %>
      <% end %>
  </div>
    <%= render 'markdown' %>    